.brand-logo-header{
    height: 33%;
    width: 33%;
    margin-left: 10px;
    margin-top: 5px;
}

.login-logo-header{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.header-color{
    background-color: #f5b342;
}

nav {
    height: 100px;
    line-height: 100px;
}

.black-text li a{
    color: black;
}

.login-creator-mode{
    margin-right: 10px;
    color: black;
    font-size: medium;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .image-cropper img {
    display: inline;
    height: 100%;
    width: auto;
  }

  .banner-image{
      width: 40%;
      height: auto;
  }

  .dctt-banner{
    font-family: "Segoe UI";
    font-size: 22pt;
  }

  .payment-form-label{
      margin-left: 10px;
      font-family: "Segoe UI";
      font-size: 18pt;
      color:gray;
  }
  .payment-form-warning{
    margin-left: 10px;
    font-family: "Segoe UI";
    font-size: 12pt;
    color:orangered;
}
.btn-large{
    margin-top: 10px;
}