.metamask-not-found{
    margin-top: 20px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: brown;
}
.metamask-logo img{
    width: 350px;
    height: auto;
}
.crypto-payment-header{
    margin-top: 10px;
    text-align: center;
}
.msft-logo img{
    width: 100px;
    height: auto;
    vertical-align: middle;
    text-align: right;
}

.checkout-card-sign{
    margin-top: 20px;
}

.card-action-from{
    margin-left: 20px;
    font-size: larger;
    color: coral;
}
.card-action-to{
    margin-left: 20px;
    font-size: larger;
    color:chartreuse;
}

.curr-logo{
    width: 40px;
    height: 40px;
}

.currency-list img{
    vertical-align: middle;
}

.currency-action{
    margin-top: 40px;
}

.curr-chicklet{
    margin-right: 10px;
}

.msft-branding{
    float: right;
}